  <h2 id="heading">Notification Schedular</h2>
  <div class="container-fluid">
    <br />
    <div class="notification-container" *ngFor="let schedule of companyData">
      <h3 id="heading">{{ schedule.companyName }}</h3>
      <div
        class="notification"
        [ngClass]="isCompleted(notification,last)"
        *ngFor="
        let notification of schedule.notifications;
        let first = first;
        let last = last;
        let i = index"
      >
        <div class="icon-holder"></div>
        <p *ngIf="first">Introduction</p>
        <p *ngIf="!first && !last">Notification</p>
        <p *ngIf="last">End</p>
        <p>{{ notification }}</p>
        <span class="difference" [ngClass]="{first:first}">
          {{ calculateDiff(notification, schedule.companyId)}} day(s)
        </span>
      </div>
      <br /><br />
    </div>
  </div>

